body.inicial{
  background-image: url(../images/background_home.png);
  background-position: left top;
  background-repeat: no-repeat;
  transition: background-color .5s;
}


/* sidenav */

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 500ms;
  padding-top: 60px;
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 300ms;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px){
  .sidenav{padding-top: 15px}
  .sidenav a{font-size: 18px}
}

/* Triagram for Heaven */
.box-shadow-menu {
  position: relative;
  padding-left: 36px;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  height: 0.19em;
  background: black;
  box-shadow:
    0 0.55em 0 0 black,
    0 1em 0 0 black;
}
