body.inicial{
  background-image: url(../images/background_home.png);
  background-position: left top;
  background-repeat: no-repeat;
  transition: background-color .5s;
}
/* header */
.header__container--background{
  background-color: #80808033;
}

.header__text--color{
  color: #d2d2d2;
}
/* sidenav */

.closebtn{
  width: 50%;
  height: 40px;
  right: 0;
}

.header__sidebar--user-area{
  width: 100%;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 0;
}

.back_to_normal{
  height: 150px;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 500ms;
  padding-top: 60px;
}

.sidenav a{
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #d1d1d1;
  display: block;
  transition: 300ms;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn::after{
  content: "";
  position: absolute;
  border: 1px solid #d1d1d1;
  border-radius: 50px;
  width: 21px;
  height: 20px;
  top: 10px;
  left: 26px;
}

.sidenav .closebtn:hover::after{
  animation: circulo 1s linear infinite;
  border-color: #ffffff;
}


.sidenav .closebtn:hover{
  color: #ffffff;
}

.sidenav .closebtn{
  position: absolute;
  top: 12px;
  right: 0px;
  font-size: 16px;
  margin-left: 50px;
  background-color: #1a2d48;
  font-weight: bold;
}

#main{
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px){
  .sidenav{padding-top: 15px}
  .sidenav a{font-size: 18px}
}

/* img do usuário */
.img__user{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  border-radius: 50px;
}

/* Triagram for Heaven */
.box-shadow-menu {
  position: relative;
  padding-left: 36px;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  height: 0.19em;
  background: #adabbc;
  box-shadow:
    0 0.55em 0 0 #adabbc,
    0 1em 0 0 #adabbc;
}

/* icons btn header */
.btn-icons{
  max-height: 38px;
  border-color: beige;
  transition: 400ms;
  background: #fff;
}

.btn-icons:last-child{
  border-radius: 0 5px 5px 0;
}

.icons-header{
  max-width: 18px;
  max-height: 18px;
  width: 100%;
  height: auto;
  filter: grayscale(100%);
}

/* Frase principal*/
.body__frase-principal{
    color: #fff;
}

/* Botão inicial */
button.body__btn-principal{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff !important;
  transition: 400ms;
}

button.body__btn-principal:hover{
  background-color: #ffffff;
  color: #000 !important;
}

/* videos */
.body__video-block{
  border: 1px solid #dadada;
  /* box-shadow: 15px 15px 20px 0px; */
}

.body__videos{
  width: 100%;
  height: 150px;
}
.body__videos iframe{
  width: 100% !important;
  height: 100% !important;
}

.body__title{
  width: 100%;
  height: 40px;
  background-color: #fff;
  color: #000;
  text-align: center;
}
/* footer */
.footer__frase h1,h2,h3,h4,h5,h6{
    color: #fff;
    font-size: 12px;
}

@keyframes circulo {
  0%{transform: scale(0.8);}
  50%{transform: scale(1.0);}
  100%{transform: scale(0.8);}
}
